@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-purple: #8f6da1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-purple: #8f6da1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

body, 
.ant-btn, 
.ant-typography, 
.ant-input, 
.ant-select, 
.ant-menu, 
.ant-card, 
.ant-modal, 
.ant-table {
  font-family: 'Merriweather', serif !important;
}